html, body{
    font-size: 16px;
    font-family: 'poppins';
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    color: #6383c9;
    padding: 20px 0;
}
main h1{
    text-align: center;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 600px;
    margin: 0 auto;
    margin-top: 5%;
    /* overflow: hidden; */
    /* position: absolute; */
    background: #aac5ff;
    color: #fff;
    /* top: 50%; */
    /* left: 50%; */
    /* transform : translate(-50%, -50%); */
}
section h1{
    font-size: 2.5rem;
}
section.select-student select{
    width: 100%;
    height: 70px;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'poppins';
    border: 0;
    color: #6383c9;
}
section.select-student select option{
    font-size: 1rem;
}
section.student-info{
    text-align: left;
    padding: 30px;
}
section.student-info p{
    font-size: 1.5rem;
    align-self: start;
    margin: 10px 0;
}
button{
    min-width: 120px;
    border: 0;
    height: 40px;
    background: #6383c9;
    color: #fff;
    font-family: 'poppins';
    margin: 20px 0;
    cursor: pointer;
    font-size: 1rem;
    padding: 0 20px;
}
.add{
    height: 0;
    overflow: hidden;
    /* background: red; */
    width: 100%;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    transition: height .4s linear;
    align-items: center;
}
.add .btn{
    display: flex;
    /* background-color: red; */
    width: 100%;
    justify-content: space-evenly;
}
.add .btn .add-div-btn{
    min-width: 40%;
    /* margin: 0 20px; */
    display: inline-block;
    /* background: #090; */
    /* align-self: flex-start; */
    /* justify-self: flex-start; */
}
.add form{
    display: flex;
    flex-direction: column;
    /* background: green; */
}
.add form input{
    border: 0;
    height: 40px;
    width: 100%;
    margin: 10px 0;
    padding: 0 20px;
    font-size: 1rem;
    font-family: 'poppins';
    outline: none;
}